<div class="section-title">Activities</div>
<hr class="section-title-line" style="width: 95px;">

<div class="section">
    <div class="left">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2017</div>
                <div class="title">Instructor</div>
            </div>
            <div class="place">Google Developer Group Adana (Adana - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2016</div>
                <div class="title">Member</div>
            </div>
            <div class="place">Civil Life Association (Kutahya - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2014 - 2016</div>
                <div class="title">Organizer</div>
            </div>
            <div class="place">Google Developer Group Kutahya (Kutahya - Turkey)</div>
        </div>
    </div>
    <div class="right">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2013</div>
                <div class="title">Chairman</div>
            </div>
            <div class="place">The Chamber of Computer Engineering Young (Kutahya - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2012 - 2013</div>
                <div class="title">Member</div>
            </div>
            <div class="place">Kutahya Young Society (Kutahya - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2012 - 2013</div>
                <div class="title">Instructor</div>
            </div>
            <div class="place">Computer & IT Community (Kutahya - Turkey)</div>
        </div>
    </div>
</div>