{% load static %}

<div class="section-title">Certificates</div>
<hr class="section-title-line" style="width: 119px;">

<div class="section cert">
    <a href="https://www.youracclaim.com/badges/af9529a8-9aee-4141-929c-1c4326248c1d/public_url" class="certificate"
        target="_blank">
        <div class="logo">
            <img src="{% static 'icons/cisco.svg' %}" alt="" width="60px" height="60px">
        </div>
        <div class="text">
            <div class="title">CCNA Routing and Switching</div>
            <div class="company">Cisco</div>
            <div class="year">2019</div>
        </div>
    </a>
    <a href="{% static 'docs/Zeydan_Kapili_Introduction_to_Cybersecurity.pdf' %}" class="certificate" target="_blank">
        <div class="logo">
            <img src="{% static 'icons/cisco.svg' %}" alt="" width="60px" height="60px">
        </div>
        <div class="text">
            <div class="title">Introduction to Cybersecurity</div>
            <div class="company">Cisco</div>
            <div class="year">2018</div>
        </div>
    </a>
    <a href="{% static 'docs/Zeydan_Kapili_Mobility_Fundamentals.pdf' %}" class="certificate" target="_blank">
        <div class="logo">
            <img src="{% static 'icons/cisco.svg' %}" alt="" width="60px" height="60px">
        </div>
        <div class="text">
            <div class="title">Mobility Fundamentals</div>
            <div class="company">Cisco</div>
            <div class="year">2018</div>
        </div>
    </a>
    <a href="https://google-run.qwiklab.com/public_profiles/e0527439-2971-4d3a-8a0a-cc77d19ecfc3" class="certificate"
        target="_blank">
        <div class="logo">
            <img src="{% static 'icons/qwiklabs.svg' %}" alt="" width="60px" height="60px">
        </div>
        <div class="text">
            <div class="title">GCP Essentials</div>
            <div class="company">Qwiklabs</div>
            <div class="year">2018</div>
        </div>
    </a>
</div>