<div class="section-title">Education & Training</div>
<hr class="section-title-line" style="width: 215px;">

<div class="section">
    <div class="left">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2017 - 2018</div>
                <div class="title">English Language</div>
            </div>
            <div class="place">Delfin English School (Dublin - Ireland)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2012 - 2016</div>
                <div class="title">Computer Engineering</div>
            </div>
            <div class="place">Dumlupinar University (Kutahya - Turkey)</div>
        </div>
    </div>
    <div class="right">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2009 - 2011</div>
                <div class="title">Computer Programming</div>
            </div>
            <div class="place">Cukurova University (Adana - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2005 - 2009</div>
                <div class="title">Network Management</div>
            </div>
            <div class="place">Cukurova Elektrik ATL (Adana - Turkey)</div>
        </div>
    </div>
</div>