<div class="section-title">Experience</div>
<hr class="section-title-line" style="width: 114px;">

<div class="section">
    <div class="left">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2023-...</div>
                <div class="title">Co-Founder</div>
            </div>
            <div class="place">SaaS Screenshots (London - United Kingdom)</div>
        </div>

        <div class="timebox">
            <div class="first-line">
                <div class="year">2023-...</div>
                <div class="title">Co-Founder</div>
            </div>
            <div class="place">Customer Success Jobs (London - United Kingdom)</div>
        </div>

        <div class="timebox">
            <div class="first-line">
                <div class="year">2022-...</div>
                <div class="title">Founder</div>
            </div>
            <div class="place">jobalerts.me (Istanbul - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2021-2022</div>
                <div class="title">System Specialist</div>
            </div>
            <div class="place">GonderAl Odeme Hizmetleri A.S. (Istanbul - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2020-2021</div>
                <div class="title">Reserve Officer - Mandatory</div>
            </div>
            <div class="place">Turkish Armed Forces (Balikesir - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2018-2019</div>
                <div class="title">IT Engineer</div>
            </div>
            <div class="place">ENKA Insaat Sanayi A.S. - Offshore Civil Construction Works (Mangistau - Kazakhstan)
            </div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2016-2017</div>
                <div class="title">IT General Engineer</div>
            </div>
            <div class="place">Bechtel ENKA JV - SCPX Project (Gardabani - Georgia)</div>
        </div>
    </div>
    <div class="right">
        <div class="timebox">
            <div class="first-line">
                <div class="year">2016</div>
                <div class="title">R&D Personnel</div>
            </div>
            <div class="place">Sekoya R&D Technology (Kutahya - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2014</div>
                <div class="title">Intern</div>
            </div>
            <div class="place">Shiftdelete.net (Istanbul - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2013</div>
                <div class="title">Intern</div>
            </div>
            <div class="place">ENKA Insaat Sanayi A.S. - Kuntsevo Project (Moscow - Russia)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2012-2013</div>
                <div class="title">Webmaster</div>
            </div>
            <div class="place">DPU Advanced Technologies Center (Kutahya - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2007</div>
                <div class="title">Intern</div>
            </div>
            <div class="place">Mikom Software (Adana - Turkey)</div>
        </div>
        <div class="timebox">
            <div class="first-line">
                <div class="year">2005 - 2006</div>
                <div class="title">Technical Service Personnel</div>
            </div>
            <div class="place">Teknonet Computer (Adana - Turkey)</div>
        </div>
    </div>
</div>