{% load static %}

<div class="section-title">Hobbies</div>
<hr class="section-title-line" style="width: 85px;">

<div class="section">
    <div class="hobbies">
        <div class="hobby-box">
            <img src="{% static 'icons/guitar.svg' %}" alt="" width="60px" height="60px">
            <div class="text">Playing Guitar</div>
        </div>
        <div class="hobby-box">
            <img src="{% static 'icons/sightseeing.svg' %}" alt="" width="60px" height="60px">
            <div class="text">Sightseeing</div>
        </div>
        <div class="hobby-box">
            <img src="{% static 'icons/billiard.svg' %}" alt="" width="60px" height="60px">
            <div class="text">Billiard</div>
        </div>
        <div class="hobby-box">
            <img src="{% static 'icons/tabletennis.svg' %}" alt="" width="60px" height="60px">
            <div class="text">Table Tennis</div>
        </div>
        <div class="hobby-box">
            <img src="{% static 'icons/swimming.svg' %}" alt="" width="60px" height="60px">
            <div class="text">Swimming</div>
        </div>
    </div>
</div>