<div class="section-title">Skills</div>
<hr class="section-title-line" style="width: 53px;">

<div class="section">
    <div class="left">
        <div class="sub-title-skills">Technical Skills</div>
        <div class="skill">
            <div class="top">
                <div class="name">Python Programming</div>
                <div class="percentage">%98</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 98%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Web Scraping / Automation</div>
                <div class="percentage">%95</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 95%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Web Development</div>
                <div class="percentage">%98</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 98%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Linux & Windows Server Management</div>
                <div class="percentage">%90</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 90%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Bash & PowerShell Scripting</div>
                <div class="percentage">%93</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 93%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Embedded System Programming</div>
                <div class="percentage">%95</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 95%;">
        </div>
    </div>
    <div class="right">
        <div class="sub-title-skills social">Social Skills</div>
        <div class="skill">
            <div class="top">
                <div class="name">Open-Minded</div>
                <div class="percentage">%95</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 95%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Innovative</div>
                <div class="percentage">%98</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 98%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Responsible</div>
                <div class="percentage">%96</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 96%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Hard-Working</div>
                <div class="percentage">%95</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 95%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Problem-Solving</div>
                <div class="percentage">%97</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 97%;">
        </div>
        <div class="skill">
            <div class="top">
                <div class="name">Debonaire</div>
                <div class="percentage">%95</div>
            </div>
            <hr class="percentage-container">
            <hr class="percentage-bar" style="width: 95%;">
        </div>
    </div>
</div>