{% load static %}

<div class="section-title">Social Responsibility</div>
<hr class="section-title-line" style="width: 211px;">

<div class="section">
    <div class="left">
        <div class="eventbox">
            <img src="{% static 'icons/organizer.svg' %}" alt="" width="30px" height="30px">
            <div class="text">
                <div class="title">The Organizer of Technical Events</div>
                <div class="description">(15+ Times)</div>
            </div>
        </div>
        <div class="eventbox">
            <img src="{% static 'icons/participant.svg' %}" alt="" width="30px" height="30px">
            <div class="text">
                <div class="title">Participant in Technical Events</div>
                <div class="description">(25+ Times)</div>
            </div>
        </div>
        <div class="eventbox">
            <img src="{% static 'icons/activeduty.svg' %}" alt="" width="30px" height="30px">
            <div class="text">
                <div class="title">Active Duty in Technical Events</div>
                <div class="description">(4 Times)</div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="eventbox">
            <img src="{% static 'icons/instructor.svg' %}" alt="" width="30px" height="30px">
            <div class="text">
                <div class="title">Volunteer Education Given by Me:</div>
                <div class="description">- IoT Devices Instruction</div>
                <div class="description">- Linux Instruction</div>
                <div class="description">- C Programming Conference (2 Times)</div>
                <div class="description">- C Programming Education (90+ Hours)</div>
                <div class="description">- C# Programming Education (9 Hours)</div>
                <div class="description">- Java Programming Education (9 Hours)</div>
                <div class="description">- Android Programming Education (6 Hours)</div>
            </div>
        </div>
    </div>
</div>