{% load static %}
<div class="social">
    <a href="mailto:zeydankapili@gmail.com" class="item" target="_blank"><img src="{% static 'icons/email-w.svg' %}" width="20px"></a>
    <a href="https://www.linkedin.com/in/zeydankapili/" class="item" target="_blank"><img src="{% static 'icons/linkedin-w.svg' %}" width="16px"></a>
    <a href="https://www.upwork.com/freelancers/~019d498bf59b919703" class="item" target="_blank"><img src="{% static 'icons/upwork-w.svg' %}" width="20px"></a>
    <a href="https://www.freelancer.com/u/zeydankapili" class="item" target="_blank"><img src="{% static 'icons/freelancer-w.svg' %}" width="20px"></a>
    <a href="https://www.fiverr.com/zeydankapili" class="item" target="_blank"><img src="{% static 'icons/fiverr-w.svg' %}" width="28px"></a>
    <a href="https://twitter.com/zeydankapili" class="item" target="_blank"><img src="{% static 'icons/twitter-w.svg' %}" width="16px"></a>
</div>